<div class="container">
  <div class="jumbotron">
    <h1>News Scraper</h1>
    <a href="/scrape" class="btn btn-primary">Scrape</a>
    <a href="/delete" class="btn btn-danger">Clear</a>
  </div>
  <div class="row">
    <div class="col-8">
      <div id="articles"></div>
    </div>
    <div class="col-4">
      <div id="notes"></div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>